* {
    letter-spacing: 0;
    padding: 0;
    margin: 0;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

ol, ul {
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.header {
    min-width: 1200px;
    position: relative;
    z-index: 3;
    background: #eeeeee;
}

.btn_header_all {
    cursor: pointer;
    width: 50px;
    height: 50px;
    background: #000000;
    color: #eeeeee
}

.wrap .container {
    position: relative;
    min-height: calc(100vh - 90px);
    min-width: 1200px;
    margin: 0 auto;
    z-index: 1;
}

aside.lnb {
    width: 200px;
    margin-right: 40px;
    height: 780px;
    float: left;
    border-radius: 0 0 0 30px;
    position: relative;
    background: #535b68;
    color: #eeeeee;
}

.lnb_title_area {
    position: absolute;
    width: 200px;
    height: 40px;
    background: #00b4d5;
    z-index: 1;
}

.lnb_title {
    color: #000000;
    font-size: 18px;
}

.lnb_tree {
    position: relative;
    left: 0;
    top: 40px;
    width: 200px;
    height: 708px;
    background-color: #313946;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: hidden;
}

.container > div > .btn_lnb {
    cursor: pointer;
    width: 35px;
    height: 50px;
    position: absolute;
    z-index: 5;
    left: 200px;
    top: 40px;
    display: block;
    background: #535b68;
    color: #eeeeee;
}

section.content {
    position: relative;
    width: calc(100% - 290px);
    overflow: visible !important;
    float: left;
    min-height: 790px;
    background-color: #eeeeee;
}

.tab1 {
    display: flex;
    height: 40px;
    padding: 0 10px 0 17px;
    background: #19d9ea;
    background: -moz-linear-gradient(left, #19d9ea 0%, #aba8f4 100%);
    background: -webkit-linear-gradient(left, #19d9ea 0%,#aba8f4 100%);
    background: linear-gradient(to right, #19d9ea 0%,#aba8f4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19d9ea', endColorstr='#aba8f4',GradientType=1 );
    font-family: "Malgun Gothic", sans-serif;
}

.contents_in {
    position: relative;
}

section.content > .btn_tab_all_close {
    width: 40px;
    height: 40px;
    position: absolute;
    right: -40px;
    top: 0;
    display: block;
    background: url(../asset/img/mdi_close.gif) no-repeat 0 0;
}

.tab1 {
    display: flex; height: 40px; padding: 0 10px 0 17px;
    background: #19d9ea; /* Old browsers */
    background: -moz-linear-gradient(left,  #19d9ea 0%, #aba8f4 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #19d9ea 0%,#aba8f4 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #19d9ea 0%,#aba8f4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19d9ea', endColorstr='#aba8f4',GradientType=1 ); /* IE6-9 */
    font-family:"Malgun Gothic", sans-serif;
}
.tab1 li {position:relative;background:url(../asset/img/bg_tab_off1.png) no-repeat left top; margin-top:9px; height:31px;padding-right:45px;z-index:2;overflow:hidden;}
.tab1 li.on2 {background:url(../asset/img/bg_tab_on1.png) no-repeat left top;z-index:3;}
.tab1 li {margin-left:-5px;}
.tab1 li:before {content:'';position:absolute; right:0; top:0; display:block;background:url(../asset/img/bg_tab_off2.png) no-repeat right top; width:45px; height:31px; z-index:2;}
.tab1 li.on2:before {background:url(../asset/img/bg_tab_on2.png) no-repeat right top;}
.tab1 li a {display:block; padding-left:13px; color:#ffffff; font-size:13px; line-height:2.5;position:relative; z-index:3;text-decoration:none !important;}
.tab1 li a span {display:block; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; font-family:"Nanum Gothic", sans-serif; background-color:rgba(90,90,90,0.2);}
.tab1 li.on2 a {color:#333333; font-weight:600;position:relative;}
.tab1 li.on2 a span,
.tab1 li:hover a span {background-color:#fff;}
.tab1 li.on2:after {content:'';position:absolute;left:0;top:0;display:block;width: calc(100% - 12px);height: 31px;box-shadow: 0 3px 18px rgba(0,0,0,0.3);z-index: 1;}
.tab1 li:hover:after {content:'';position:absolute;left:0;top:0;display:block;width: calc(100% - 12px);height: 31px;box-shadow: 0 3px 18px rgba(0,0,0,0.3);z-index: 1;}
.tab1 li button {position:absolute; right:-26px; top:7px; width:16px; height:16px;display:block; background:url(../asset/img/btn_tab1_off.png) no-repeat left top;}

.tab1 li.on2 button {background:url(../asset/img/btn_tab1_on.png) no-repeat left top;}
.tab1 li:hover {background:url(../asset/img/bg_tab_on1.png) no-repeat left top;z-index:3;}
.tab1 li:hover:before {background:url(../asset/img/bg_tab_on2.png) no-repeat right top;}
.tab1 li:hover a {color:#333333; font-weight:400;}
.tab1 li.on2:hover a {font-weight:600;}
.tab1 li:hover button {background:url(../asset/img/btn_tab1_on.png) no-repeat left top;}
.tab1 li a:hover {text-decoration:none;}

.wrap_login {
    position: relative;
    min-width: 800px;
    min-height: 100vh;
    margin: 0 auto;
    z-index: 1;
    text-align: center;
    background: #9053c7;
    background: -webkit-linear-gradient(-135deg,#c850c0,#4158d0);
    background: -o-linear-gradient(-135deg,#c850c0,#4158d0);
    background: -moz-linear-gradient(-135deg,#c850c0,#4158d0);
    background: linear-gradient(-135deg,#c850c0,#4158d0);    
}